@import url("https://fonts.googleapis.com/css?family=Trirong|Manrope");

#wall {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../../assets/images/3.png);

  padding: 2rem;
  overflow: hidden;

  font-family: "Trirong";
  color: white;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.frosted {
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#docInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

#infoDesc {
  height: 50vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
