@import url("https://fonts.googleapis.com/css?family=Trirong|Manrope");
@import url("https://fonts.googleapis.com/css?family=Trirong&effect=fire|neon");

#docWallpaper {
  height: 100vh;
  width: 100vw;
  background: url(../../assets/images/3.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

  padding: 2rem;
  overflow: hidden;

  font-family: "Trirong";
  color: white;
}

#doctorStatus{
    height: 25vh;
    margin-top: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#stat{
  border-radius: 2rem;
  padding: 0.2rem;
}