@import url("https://fonts.googleapis.com/css?family=Trirong|Manrope");

#wallpaper {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../../assets/images/3.png);

  padding: 2rem;
  overflow: hidden;

  font-family: "Trirong";
  color: white;
}

.frosted {
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#side {
  grid-row: span 2;
  transition: all 0.5s ease-in;

  padding-left: 1rem;
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#side h1 {
  font-size: 4rem;
}

#logIn {
  transition: all 0.5s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;
}

#signUp {
  transition: all 0.5s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;
}

#logIn:hover {
  backdrop-filter: blur(0px);
}

#signUp:hover {
  backdrop-filter: blur(0px);
}

#stripes div {
  background-color: white;
  width: 60%;
  height: 1rem;
}

#stripes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  margin-bottom: 2rem;
}

#logIn h1 {
  font-size: 3rem;
}

#signUp h1 {
  font-size: 3rem;
}

.homeGrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
