@import url("https://fonts.googleapis.com/css?family=Trirong|Manrope");

#wallpaper {
  height: 100vh;
  width: 100vw;
  background: url(../../assets/images/3.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

  padding: 2rem;
  overflow: hidden;

  font-family: "Trirong";
  color: white;
}

.frosted {
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.choiceWindow {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.choices {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column: 1 / 3;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.doctor {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in;
}

.patient {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in;
}

.explain {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient:hover {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.doctor:hover {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
