#footer{
    margin-top: 3rem;
  }
  
  #foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #linkToHome{
    border-radius:2rem;
    transition: all 0.3s ease-in;
  }

  #linkToHome:hover{
    background-color:steelblue;
  }
