#wallpaper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  grid-column-gap: 1rem;

  transition: all 0.5s ease-in;
}

.desc {
  transition: all 0.5s ease-in;
  padding-left: 1rem;
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userData {
  transition: all 0.5s ease-in;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userData:focus-within{
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}